<footer class="py-3 border-top border-primary">
    <ul class="nav justify-content-center">
      <li class="px-2"><i class="fa-solid fa-calendar px-1"></i>24-26 junio 2022</li>
      <li class="px-2"><i class="fa-solid fa-location-dot px-1"></i>FICA Murcia</li>
      <li class="px-2"><i class="fa-solid fa-user-pen px-1"></i>amartinezdiaz2@uoc.edu</li>
    </ul>
    <div class="d-flex flex-wrap justify-content-around py-3 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="./assets/images/logofestival.png" alt="" width="40" height="30" class="d-inline-block align-text-top">
        <span class="fs-4">MARTDAZ</span>
      </a>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a href="./index.html" class="nav-link px-2 text-muted">Inicio</a></li>
        <li class="nav-item"><a href="./bandas.html" class="nav-link px-2 text-muted">Bandas</a></li>
        <li class="nav-item"><a href="./informacion.html" class="nav-link px-2 text-muted">Información general</a></li>
        <li class="nav-item"><a href="./formulario.html" class="nav-link px-2 text-muted"><i class="fa-solid fa-envelope"></i></a></li>
      </ul>
      <ul  class="nav justify-content-center">
        <li class="px-2"><i class="fa-brands fa-instagram"></i></li>
        <li class="px-2"><i class="fa-brands fa-facebook"></i></li>
        <li class="px-2"><i class="fa-brands fa-twitter"></i></li>
      </ul>
    </div>
    <p class="text-center text-muted">&copy; 2022 Alba Martínez Díaz</p>
</footer>