<header class="d-flex flex-wrap justify-content-center py-3 border-bottom border-primary">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="./index.html">
      <img class="d-inline-block align-text-top" src="./assets/images/logofestival.png" alt="" width="30" height="24">
      <span class="fs-4">MARTDAZ</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" href="./bandas.html">Bandas</a></li>
      <li class="nav-item"><a class="nav-link" href="./informacion.html">Información general</a></li>
      <li class="nav-item"><a class="nav-link" href="./formulario.html"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
</header>